{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block conteudo %}

    <form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
        {{ form }}

        <div style="text-align: right" class="p-2">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-floppy"></i> Salvar
                </button>

                <button type="reset" class="btn btn-danger">
                    <i class="bi bi-x-circle"></i> Repor
                </button>

                <a class="btn btn-primary" href="{% url 'vendas:categoria_lista' %}" role="button">
                    <span class="text-light text-center">
                        <i class="bi bi-arrow-counterclockwise"></i> Voltar
                    </span>
                </a>
            </div>
    </form>

{% endblock %}
